
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Home-Main {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 2em;
}

.Profile-Pic{
    width: 25%;
    /* margin: 0.5em; */
}

.Profile-Pic img{
    width: 100%;
}

.Basic-Info{
    width: 65%;
    padding-left: 5%;
}

.Basic-Info ul {
    list-style: none;
}

.Basic-Info p {
    padding-bottom: 0.5em;
}

.Paragraph{
    margin-top: 1.5em;
    margin-bottom: 1em;
}